body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar-brand{
    font-size: 35px;
    color: #2980B9 !important;
}

.nav-link{
    font-size: 16px;
    margin: 15px;

}

.active .nav-link{
    color: #00e8e8 !important;
}

.nav-link:hover{
    color: #00e8e8 !important;
}